.mobile-experience {
  display: none;
}

body {
  font-family: helvetica;
  font-weight: lighter;
  font-size: .8em;
  line-height: 1.38em;
  letter-spacing: 1.5x;

  margin: 0 auto;
  background: #FFCC00;
  overflow: none;
}

a {color: red;}
a:hover {
 color: orange !important;
}
a:active {filter:brightness(150%);}

.everything-cont {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

.opening-blurb {
  background: #111;
  color: #e0e0e0;
  width: 500px;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
  margin-bottom: 30px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background: #111;
  padding: 0;
  width: 500px;
  margin: 30px 0 1px 0;
}
ul.header li a {
  background: #111;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

ul.header li a:hover {
  background: red;
 }

 ul.header li a.active {
  background: red;
 }

.content {
  /*padding: 20px;*/
  height: 80vh;
}
.content h2 {
  font-size: 2.7em;
  font-weight: 100;
  color: red;
  padding: 30px 0 10px 0;
  margin: 0;
  text-transform: uppercase;
}
.content li {
  margin-bottom: 10px;
}

#title a {
  background: #111;
}

#title a:hover {
  background: red;
}


@media (max-width: 600px) {
   body {
     background: black;
   }

   .mobile-experience {
    position: relative;
     letter-spacing: 1px;
     background: black;
     width: 100vw;
     height: 100vh;
     display: inline;
  }

  .mobile-experience h3 {
     font-size: 2.5em;
     line-height: 1.3em;
     color: #e0e0e0;
     padding: 25px 25px 0 25px;
     box-sizing: border-box;
    }

   .mobile-experience p {
     font-size: 1.5em;
     line-height: 1.5em;
     color: #888;
     padding: 25px 25px 0 25px;
     box-sizing: border-box;
   }

   .mobile-experience a {
    color: red;
   }

  .everything-cont {
    display: none;
  }
}